body {
    background-color:#aaaabd;
    margin-top: 30px;
}
#wrap {
    width:50vw;
    margin:0 auto;
}
@media (max-width: 600px) {
    #wrap {
        width:90vw;
        margin:0 auto;
    }
  }
  @media (min-width: 1000px) {
    #wrap {
        width:50vw;
    }
  }
  @media (min-width: 1300px) {
    #wrap {
        width:40vw;
    }
  }
  @media (min-width: 1500px) {
    #wrap {
        width:30vw;
    }
  }
header.header {
    position:relative;
    z-index:1;
}
section.container {
    position:relative;
    z-index:2;
    padding:0 5px;
}
footer {
    position:relative;
    z-index:3;
    height:200px;
    box-shadow:0 -10px 40px rgba(0,0,0,0.3);
    background-color:#6f729c;
    border-radius: 15px;
}
h1, h2 {
    margin:0;
    font-family:Abel;
    color:#fff;
    text-align:center;
}
h1 {
    padding:10px;
    font-size:1.3em;		
}
h2 {
    padding:70px 0 0;
    font-size:2em;
    font-family: 'Jura', sans-serif;
    text-transform: uppercase;
}
#dim {
    position:fixed;
    z-index:-1;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color:#000;
    opacity:0;
    transition:opacity 0.4s;
}
#dim.on {
    z-index:100;
    opacity:0.7;
}
#dim.off {
    z-index:100;
    opacity:0;
}
#open-card-box {
    position:absolute;
    z-index:200;
    left:5px;
    right:5px;
}
#open-card-box .card-paper {
    top:0 !important;
    margin:0 auto;
}
#open-card-box.active {
    top:300px;
}
.contents-box {
    position:relative;
    z-index:10;
    height:200px;
    background-color:#6b79ab;
    border-radius:5px;
    box-shadow: 7px -7px 36px rgba(0,0,0,0.4);
}
.contents-box i {
    position:absolute;
    color:#fff;
    text-shadow:0 0 5px rgba(0,0,0,0.5);
}
.fa-credit-card {
    left:10px;
    bottom:10px;
}
.fa-cart-arrow-down {
    right:10px;
    bottom:10px;
}
.card-container {
    position:relative;
    z-index:20;
    margin:10px 0;
}
.card-box {
    position:relative;
    height:70px;
    -webkit-perspective:1000px;
    perspective:1000px;
}
.card-paper {
    position:relative;
    top:0;
    background-color:#fff;
    border-radius:5px;
    -webkit-transform: rotateX(-35deg);
    transform: rotateX(-35deg);
    -webkit-transform-origin:0 0;
    transform-origin:0 0;
    box-shadow:0 -10px 40px rgba(0,0,0,0.3);
    overflow:hidden;
    -webkit-transition: -webkit-transform 0.2s, top 0.2s, box-shadow 0.2s;
    transition: transform 0.2s, top 0.2s, box-shadow 0.2s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}
.card-paper.pickup {
    top:-240px;
    box-shadow:0 0 40px rgba(0,0,0,0.3);
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}
.card-paper .name {
    display:block;
    padding:10px;
    font-size:1em;
    font-weight:bold;
    font-family:Abel;
    color:#5d6196;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    text-transform: uppercase;
    font-family: 'Jura', sans-serif;
}
.card-paper article {
    margin:0 30px 10px;
    /* background-color:#eee; */
    height:250px;
    border-radius:5px;
    overflow-y: scroll;
    color: #5d4e4e;
    padding-top: 30px;
    font-family: 'Play', sans-serif;

}
a{
    text-decoration: none;
    color: #6f729c;
}


::-webkit-scrollbar {
    display: none
}



